/*
Project: Trafilm.Gallery (http://github.com/zoomicon/Trafilm.Gallery)
Filename: metadata.css
Version: 20171130
*/

div {
  margin-top: 12px;
  margin-bottom: 5px;
}

a {
  word-break: break-all !important; /* make sure containers don't override */
  display: inline-block !important;
}

/* --------------------------- */

.navigation {
  background-color: #DA3402;
}

.navigation a {
  padding-bottom: 0.2em;
  text-decoration: none;
  color: #240000;
  margin-right: 20px;
}

.navigation a img {
  padding-top: 0.2em;
  padding-bottom: 0;
}

.navigation a:active {
  color: ghostwhite;
}

.navigation a.selected {
  color: ghostwhite;
}

.navigation a:hover {
  text-decoration-color: ghostwhite;
  text-decoration: underline;
}

.navigation .guide {
  padding-top: 0.4em;
  float: right;
}

/* --------------------------- */

.status {
  border-style: solid;
  border-width: 1px;
  background-color: peachpuff;
  padding: 5px;
}

/* --------------------------- */

.instructions {
  border-style: dotted;
  border-width: 2px;
  background-color: yellow;
  padding: 5px;
}

/* --------------------------- */

.bar {
  background-color: ButtonFace;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.bar input {
  width: 99%;
}

.bar select {
  width: 99%;
}

.bar input[type=submit] {
  width: auto;
}

.bar input[type=checkbox] {
  width: auto;
}

/* --------------------------- */

.question {
  background-color: lightgoldenrodyellow;
  padding: 0, 1%;
}

.question input[type=text] {
  width: 99%;
}

.question select {
  width: 99%;
}

.question textarea {
  width: 99%;
}

.question table {
  text-align: left;
  vertical-align: top;
}

/* --------------------------- */

.calculated {
  background-color: ghostwhite;
  padding: 0, 1%;
}

.calculated select {
  width: 99%;
  background-color: ghostwhite;
  border-color: lightgray;
}

.calculated textarea {
  width: 99%;
}

.calculated table {
  text-align: left;
  vertical-align: top;
}

/* --------------------------- */

.label {
  font-weight: bold;
}

.tip {
  font-style: italic;
  text-align: justify;
  color: grey;
  margin-top: 0px;
}
