/*
Project: Trafilm.Gallery (http://github.com/zoomicon/Trafilm.Gallery)
Filename: metadata.cs
Version: 20170113
*/

div
{
  margin-top: 12px;
  margin-bottom: 5px;
}

a
{
  word-break: break-all !important; /* make sure containers don't override */
  display: inline-block !important;
}

/* --------------------------- */

.navigation a:link
{
  color: black;
}

.navigation a:visited
{
  color: black;
}

.navigation a:hover
{
  color: gray;
}

.navigation a:active
{
  color: silver;
}

.navigation a.selected
{
  color: Red;
  text-decoration: underline overline;
}

/* --------------------------- */

.status
{
  border-style: solid;
  border-width: 1px;
  background-color: peachpuff;
  padding: 5px;
}

/* --------------------------- */

.instructions
{
  border-style: dotted;
  border-width: 2px;
  background-color: yellow;
  padding: 5px;
}

/* --------------------------- */

.bar
{
  background-color: ButtonFace;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.bar input
{
  width: 99%;
}

.bar select 
{
  width: 99%;
}

.bar input[type=submit]
{
  width: auto;
}

.bar input[type=checkbox]
{
  width: auto;
}

/* --------------------------- */

.question
{
  background-color: lightgoldenrodyellow;
  padding: 0, 1%;
}

.question input[type=text]
{
  width: 99%;
}

.question select
{
  width: 99%;
}

.question textarea
{
  width: 99%;
}

.question table
{
  text-align: left;
  vertical-align: top;
}

/* --------------------------- */

.calculated 
{
  background-color: ghostwhite;
  padding: 0, 1%;
}

.calculated select
{
  width: 99%;
  background-color: ghostwhite;
  border-color: lightgray;
}

.calculated textarea
{
  width: 99%;
}

.calculated table
{
  text-align: left;
  vertical-align: top;
}

/* --------------------------- */

.label
{
  font-weight: bold;
}

.tip
{
  font-style: italic;
  text-align: justify;
  color: grey;
  margin-top: 0px;
}
